Project1/Flows/flows (2).json
[{"id":"253cde0d.761b72","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"db776cf6.8a86c","type":"debug","z":"253cde0d.761b72","name":"","active":true,"console":"false","complete":"payload","x":770,"y":320,"wires":[]},{"id":"64e2c935.ed26e8","type":"inject","z":"253cde0d.761b72","name":"Select","topic":"","payload":"SELECT TOP (1) [Topic]       ,[Payload]   FROM [Dev].[dbo].[MQTTData]","payloadType":"str","repeat":"","crontab":"","once":false,"x":171.00000381469727,"y":253.99999809265137,"wires":[["d8919cce.303c1"]]},{"id":"d8919cce.303c1","type":"MSSQL","z":"253cde0d.761b72","mssqlCN":"a6087e77.9761a","name":"MSSQL","query":"","outField":"payload","x":520,"y":320,"wires":[["db776cf6.8a86c"]]},{"id":"14b3a752.6ca599","type":"inject","z":"253cde0d.761b72","name":"Insert","topic":"","payload":"INSERT INTO [Dev].[dbo].[MQTTData] (Topic, Payload) VALUES ('Cardinal', 'Tom B. Erichsen' )","payloadType":"str","repeat":"","crontab":"","once":false,"x":173,"y":305,"wires":[["d8919cce.303c1"]]},{"id":"3048c1f9.a4f01e","type":"inject","z":"253cde0d.761b72","name":"Update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":356,"wires":[["239dea0f.a99fb6"]]},{"id":"239dea0f.a99fb6","type":"function","z":"253cde0d.761b72","name":"Function","func":"d = new Date,\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld =       \"UPDATE [Dev].[dbo].[MQTTData] \"\npld = pld + \"Set Timestamp = '\" + dformat + \"' \"\npld = pld + \"WHERE id = 1\"\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":310,"y":356,"wires":[["d8919cce.303c1"]]},{"id":"667798eb.defe58","type":"inject","z":"253cde0d.761b72","name":"Select","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":171,"y":412,"wires":[["fcf88572.28b268"]]},{"id":"fcf88572.28b268","type":"function","z":"253cde0d.761b72","name":"Function","func":"pld =       \"SELECT ID, Topic, Payload, Timestamp \"\npld = pld + \"FROM [Dev].[dbo].[MQTTData] \"\npld = pld + \"WHERE id = \" + msg.payload\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":311,"y":412,"wires":[["d8919cce.303c1"]]},{"id":"419e17b6.e0f088","type":"mqtt in","z":"253cde0d.761b72","name":"","topic":"SQLTest/#","qos":"0","broker":"85791dc9.a6edd","x":162,"y":462,"wires":[["333c57d.a6de6a8"]]},{"id":"333c57d.a6de6a8","type":"function","z":"253cde0d.761b72","name":"Function","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO [Dev].[dbo].[MQTTData] \"\npld = pld + \"(Topic, Payload, Timestamp) \"\npld = pld + \"VALUES ('\" + msg.topic + \"', '\" + msg.payload + \"', '\" + dformat + \"')\"\n\nmsg.topic = ''\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":304,"y":462,"wires":[["d8919cce.303c1","db776cf6.8a86c"]]},{"id":"a6087e77.9761a","type":"MSSQL-CN","z":"","name":"Dev","server":"localhost","encyption":false,"database":"Dev"},{"id":"85791dc9.a6edd","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]