flows (1).json
[{"id":"256aadd.68f6752","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9c37ded0.5d6d5","type":"debug","z":"256aadd.68f6752","name":"","active":true,"console":"false","complete":"payload","x":770,"y":300,"wires":[]},{"id":"77c735d3.d4566c","type":"inject","z":"256aadd.68f6752","name":"Select","topic":"","payload":"SELECT TOP (1) [Topic]       ,[Payload]   FROM [Dev].[dbo].[MQTTData]","payloadType":"str","repeat":"","crontab":"","once":false,"x":171.00000381469727,"y":233.99999809265137,"wires":[["ce6a9a4b.659ec8"]]},{"id":"ce6a9a4b.659ec8","type":"MSSQL","z":"256aadd.68f6752","mssqlCN":"95fee12b.87f8b","name":"MSSQL","query":"","outField":"payload","x":539,"y":301,"wires":[["9c37ded0.5d6d5"]]},{"id":"324a7518.9cc25a","type":"inject","z":"256aadd.68f6752","name":"Insert","topic":"","payload":"INSERT INTO [Dev].[dbo].[MQTTData] (Topic, Payload) VALUES ('Cardinal', 'Tom B. Erichsen' )","payloadType":"str","repeat":"","crontab":"","once":false,"x":173,"y":285,"wires":[["ce6a9a4b.659ec8"]]},{"id":"651e4d33.189a94","type":"inject","z":"256aadd.68f6752","name":"Update","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":336,"wires":[["9cd46597.641798"]]},{"id":"9cd46597.641798","type":"function","z":"256aadd.68f6752","name":"Function","func":"d = new Date,\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\ndtstmp = new Date().toString();\npld =       \"UPDATE [Dev].[dbo].[MQTTData] \"\npld = pld + \"Set Timestamp = '\" + dformat + \"' \"\npld = pld + \"WHERE id = 1\"\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":310,"y":336,"wires":[["ce6a9a4b.659ec8"]]},{"id":"4694eb7f.76e944","type":"inject","z":"256aadd.68f6752","name":"Select","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":171,"y":392,"wires":[["a681b6.cc1e4e48"]]},{"id":"a681b6.cc1e4e48","type":"function","z":"256aadd.68f6752","name":"Function","func":"pld =       \"SELECT ID, Topic, Payload, Timestamp \"\npld = pld + \"FROM [Dev].[dbo].[MQTTData] \"\npld = pld + \"WHERE id = \" + msg.payload\n\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":311,"y":392,"wires":[["ce6a9a4b.659ec8"]]},{"id":"41f3f010.417fc","type":"mqtt in","z":"256aadd.68f6752","name":"","topic":"SQLTest/#","qos":"0","broker":"f99ddb6b.61cdd8","x":162,"y":442,"wires":[["ab4f498.b8962b8"]]},{"id":"ab4f498.b8962b8","type":"function","z":"256aadd.68f6752","name":"Function","func":"d = new Date(),\ndformat = [d.getMonth()+1,\n    d.getDate(),\n    d.getFullYear()].join('/')+' '+\n    [d.getHours(),\n    d.getMinutes(),\n    d.getSeconds()].join(':');\n\npld =       \"INSERT INTO [Dev].[dbo].[MQTTData] \"\npld = pld + \"(Topic, Payload, Timestamp) \"\npld = pld + \"VALUES ('\" + msg.topic + \"', '\" + msg.payload + \"', '\" + dformat + \"')\"\n\nmsg.topic = ''\nmsg.payload = pld\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":304,"y":442,"wires":[["ce6a9a4b.659ec8","9c37ded0.5d6d5"]]},{"id":"95fee12b.87f8b","type":"MSSQL-CN","z":"","name":"Dev","server":"localhost","encyption":false,"database":"Dev"},{"id":"f99ddb6b.61cdd8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]