Project1/Design/Page1/try/Delta working/flows Exp Plc3.json
[
    {
        "id": "5712041946e99485",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "631e82314bfb376d",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "d588 numeric",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 520,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5ea4365adb90583a",
        "type": "modbus-read",
        "z": "5712041946e99485",
        "name": "d588",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4684",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0737e46.57122",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "631e82314bfb376d"
            ],
            [
                "8f7455e1e7a12ccf"
            ]
        ]
    },
    {
        "id": "8f7455e1e7a12ccf",
        "type": "debug",
        "z": "5712041946e99485",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "fb3b02fb26fd08ed",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "d592 numeric",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 500,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "46c3390b3d719506",
        "type": "modbus-read",
        "z": "5712041946e99485",
        "name": "d592",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4688",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0737e46.57122",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "fb3b02fb26fd08ed"
            ],
            [
                "661be78f63d38ee9"
            ]
        ]
    },
    {
        "id": "661be78f63d38ee9",
        "type": "debug",
        "z": "5712041946e99485",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "402d02e287e304d6",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "d580 numeric",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0abd7b6ff06ece6a",
        "type": "modbus-read",
        "z": "5712041946e99485",
        "name": "d580",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4676",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0737e46.57122",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 90,
        "y": 380,
        "wires": [
            [
                "402d02e287e304d6"
            ],
            [
                "b9f1e2353c832204"
            ]
        ]
    },
    {
        "id": "b9f1e2353c832204",
        "type": "debug",
        "z": "5712041946e99485",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "c518af529ddeef4f",
        "type": "modbus-write",
        "z": "5712041946e99485",
        "name": "write d576 register",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4672",
        "quantity": "1",
        "server": "a0737e46.57122",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 950,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f3e86b5151aff40e",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "Set hight level d576",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 730,
        "y": 66,
        "wires": [
            [
                "c518af529ddeef4f"
            ]
        ]
    },
    {
        "id": "f5799fcffdfecb74",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "d576 numeric",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1040,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6770f517757cd9c3",
        "type": "modbus-read",
        "z": "5712041946e99485",
        "name": "d576",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4672",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0737e46.57122",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "f5799fcffdfecb74"
            ],
            [
                "b22729f18c1c7edc"
            ]
        ]
    },
    {
        "id": "b22729f18c1c7edc",
        "type": "debug",
        "z": "5712041946e99485",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "393bd6516a2cd614",
        "type": "modbus-write",
        "z": "5712041946e99485",
        "name": "write d572 register",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4668",
        "quantity": "1",
        "server": "a0737e46.57122",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 870,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "527f2943a692c59f",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "Set hight level d572",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 650,
        "y": 266,
        "wires": [
            [
                "393bd6516a2cd614"
            ]
        ]
    },
    {
        "id": "4bec43fd8ab7fe39",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "d572 numeric",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 980,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "22e8804db8d260b6",
        "type": "modbus-read",
        "z": "5712041946e99485",
        "name": "d572",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4668",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0737e46.57122",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "4bec43fd8ab7fe39"
            ],
            [
                "427766149dcbc330"
            ]
        ]
    },
    {
        "id": "427766149dcbc330",
        "type": "debug",
        "z": "5712041946e99485",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "0af6f65c57944946",
        "type": "modbus-write",
        "z": "5712041946e99485",
        "name": "write d568 register",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4664",
        "quantity": "1",
        "server": "a0737e46.57122",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 770,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "92d91c9698ea3d48",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "Set hight level d568",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 566,
        "wires": [
            [
                "0af6f65c57944946"
            ]
        ]
    },
    {
        "id": "d2a21d28a417bf27",
        "type": "ui_numeric",
        "z": "5712041946e99485",
        "name": "",
        "label": "d568 numeric",
        "tooltip": "",
        "group": "4caefd585b3f6756",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 920,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "999b2ee6488e8f31",
        "type": "modbus-read",
        "z": "5712041946e99485",
        "name": "d568",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4664",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "a0737e46.57122",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 510,
        "y": 640,
        "wires": [
            [
                "d2a21d28a417bf27"
            ],
            [
                "3d7baa03b4cfb771"
            ]
        ]
    },
    {
        "id": "3d7baa03b4cfb771",
        "type": "debug",
        "z": "5712041946e99485",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "4caefd585b3f6756",
        "type": "ui_group",
        "name": "Default",
        "tab": "85720a7a2ae1b312",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0737e46.57122",
        "type": "modbus-client",
        "name": "modbus TCP client",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "192.168.1.77",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "85720a7a2ae1b312",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]